h2{
    margin: 0;
}
.Anime-Row{
    margin-left: 5px;
}
.AnimeList--canvas{
    overflow-x: hidden; 
}
.AnimeList--List{
    margin-top: 10px;
    width: 200vh;
    height: 200px;
}
.Anime--Title--Line{
    width: 200vh;
    height: 2px;
}
.Title--Line{
    width: inherit;
    height: inherit;
    background-color: white;
}