.animeViewer{
    margin-inline-start: 10px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    width: 110px;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    transform: scale(1);
    transition: all ease 0.2s;
}
.animeViewer:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.anime--canvas{
    display: inline-block;
    width: inherit;
    height: inherit;
    transform: scale(0.93);
}
.anime--canvas--vertical{
    position: absolute;
    width: inherit;
    height: inherit;
    background: linear-gradient(to bottom, transparent 60%, #111 98%);
}
.anime--title, .anime--genres{
    margin-left: 5px;
    font-size: 12px;
    text-shadow: 0 0 2.5px #111;
    font-weight: bold;
}
.anime--genres{
    position: absolute;
    font-weight: bold;
    bottom: 0;
    max-height: inherit;
}